

div.custom_caption {
    font-size:0.8rem;
    margin-top:-15px;
    margin-bottom:1rem;
    color:rgb(139, 139, 139);
    // color:red;
    font-weight: 500;
    // border: solid 2px;
    // border-radius: 5px;
    // padding: 0.1rem;
}