div.series {
    cursor:pointer;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 0.5rem;

}

div.series:hover {
    background-color: rgb(233, 233, 233);
}

div.series_keypoints {
    margin-top: -0.8rem;
    margin-bottom: 1.3rem;
    padding-left: 3rem;
    ul {
        list-style-type: "✅ ";
        opacity: 0.6;
        padding-left: 3rem;
    }
    user-select: none; // Make sure numbers aren't selectable
}

p.series_keypoints {
    font-weight: 700;
    margin-bottom: 0rem;
    // opacity:0.8;
}