div.series {
    cursor:pointer;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

}

h2.series {
    padding:0rem;
    display: block;

    a.series {
    display: block;
    // height: 100%;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 1rem 3rem;
    } 
}

 /* Missing from other answers */

div.series:hover {
    background-color: rgb(233, 233, 233);
}

div.series_keypoints {
    margin-top: -0.8rem;
    margin-bottom: 1.3rem;
    padding-left: 3rem;
    ul {
        list-style-type: "✅ ";
        opacity: 0.6;
        padding-left: 3rem;
    }
    user-select: none; // Make sure numbers aren't selectable
}

p.series_keypoints {
    font-weight: 700;
    margin-bottom: 0rem;
    // opacity:0.8;
}