{% if page.back_page != null %}

{% if page.url contains "/series/" %}
    {% unless page.url contains "headline" %}
        {% assign elts_thispage = page.url | split: "/" %}
    {% endunless %}
{% endif %}

{% for p in site.pages %}

    {% if elts_thispage != null %}
        {% assign elts_other = p.url | split: "/" %}
        {% if elts_thispage[-2] == elts_other[-2] and p.name == page.back_page %}
            {% assign back_page = p %}
        {% endif %}
    {% elsif p.url == page.back_page or p.name == page.back_page %}
        {% assign back_page = p %}    
    {% endif %}
   
{% endfor %}

{% endif %}

{% if back_page != null %}
<p class="back-link">
    <a href="{{ back_page.url }}"><span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>{{ back_page.short_title | default: back_page.title }}</a>
</p>
{% endif %}
