<!-- Optional additional links to insert for icons links -->

{% assign tr_page_link_fr = null %}
{% assign tr_page_link_en = null %}

<!-- index pages are treated separately to handle pagination -->
{% if page.url contains "index" %}
  {% if page.url contains "fr" %}
    {% assign tr_page_link_en = page.url | remove: "fr/"   %}
  {% else %}
    {% assign tr_page_link_fr = page.url | prepend: "fr"  %}
  {% endif %}
{% endif %}

<!-- for other pages, the link to the translated page is in a file -->
{% if  tr_page_link_fr == null and tr_page_link_en == null %}
  {% for elt in site.data.page_lang %}
    {% if elt[0] == page.name %}
      {% if elt[2] == "fr" %}
        {% assign tr_page_link_fr = elt[1] %}
      {% else %}
        {% assign tr_page_link_en = elt[1] %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}

<!-- When one of the link is not set, the corresponding flag cannot be clicked -->

<a id="icon_flag"
     class="icon_flag{% if page.lang == 'en' %} active{% endif %}"
     {% if tr_page_link_en != null %}href="{{ tr_page_link_en | relative_url }}"{% endif %}
     >
🇬🇧 <div></div>
</a>
<a id="icon_flag"
  class="icon_flag{% if page.lang == 'fr' %} active{% endif %}"
  {% if tr_page_link_fr != null %}href="{{ tr_page_link_fr | relative_url }}"{% endif %}
>
🇫🇷 <div></div>
</a>

