<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-3">
          <!-- hitwebcounter Code START -->
          <a href="http://www.hitwebcounter.com" target="_blank">
              <img src="http://hitwebcounter.com/counter/counter.php?page=6460671&style=0047&nbdigits=5&type=ip&initCount=0" title="Compteur" Alt="Compteur"   border="0" >
            </a>                                        <br/>
              <!-- hitwebcounter.com --><a href="http://www.hitwebcounter.com" title="Website Stats"
                                      target="_blank" style="font-family: Geneva, Arial, Helvetica, sans-serif;
                                      font-size: 10px; color: #63766C; text-decoration: none ;"><strong>Website Stats                                     </strong>
          </a>
      </div>

    </div>

  </div>

</footer>
