<nav id="sidebar-nav-links">

  {% if site.sidebar_home_link %}
    {% if page.lang == "en" %}
      <a class="home-link {% if page.url == '/index.html' %} active{% endif %}"
          href="{{ "/" | relative_url }}">Blog</a>
    {% else if page.lang == "fr"%}
      <a class="home-link {% if page.url == '/fr/index.html' %} active{% endif %}"
          href="{{ "/fr/" | relative_url }}">Blog</a>
    {% endif %}
  {% endif %}
  
  {% if site.sidebar_blog_link %}
    <a class="page-link {% if page.url == site.sidebar_blog_link %} active{% endif %}"
	href="{{ site.sidebar_blog_link | relative_url }}">Blog</a>
  {% endif %}

  {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `sidebar_link: true` in the front-matter. See readme for usage.
  {% endcomment %}

  {% include page-links.html %}

  <!-- should be improved -->
  {% if page.lang == "en" %}
  <a class="category-link {% if page.title == "Series" %} active{% endif %}"
          href="/pages/series.html">Series </a>
  {% else if page.lang == "fr"%}
  <a class="category-link {% if page.title == "Séries" %} active{% endif %}"
      href="/pages/fr_series.html">Séries </a>
  {% endif %}

  {% include category-links.html %}

  {% include custom-nav-links.html %}
</nav>
